<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的机票</title>
    <link rel="stylesheet" type="text/css" href="/static/css/table2.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-header">
        <a href="/flight" class="navbar-brand">返回购买机票</a>
    </div>
    </div>
<table border="1px" width="100%" style="border-collapse: collapse;">

    <tr>
        <th>IdNum</th>
        <th>TicketID</th>
        <th>UserID</th>
        <th>FlightID</th>
        <th>AirportID</th>
        <th>Cost</th>
    </tr>
    {% for ticket in tickets %}
        <tr>
            <td align="center">{{ forloop.counter }} </td>
            <td align="center">{{ ticket.ticketid }} </td>
            <td align="center">{{ ticket.userid }} </td>
            <td align="center">{{ ticket.flightid }} </td>
            <td align="center">{{ ticket.airportid }} </td>
            <td align="center">{{ ticket.money }} </td>
            <td align="center">
{#                <a href="../sims/edit/?id={{ flight.flightid }}">#}
{#                    编辑#}
{#                </a>#}
                <a href="../delticket?ticketid={{ ticket.ticketid }}">
                    退票
                </a>
            </td>
        </tr>
    {% endfor %}

</table>
{#<div class="input">#}
{#    <label>购买张数：</label>#}
{#    <input type="number" value="购买张数">#}
{#    <input type="submit" value="提交">#}
{#</div>#}
        {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
        {% endif %}
</body>
</html>
